<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-12 mt-3">
      <mat-stepper #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Basic Information</ng-template>
            <div class="row mt-3">
              <!-- <div class="col-sm-12 col-md-3 col-lg-3">
                <mat-form-field class="w-100">
                  <mat-label>Notice Type</mat-label>
                  <mat-select
                    [(ngModel)]="selectedNoticeType"
                    (ngModelChange)="print($event)"
                    name="notice_type"
                    formControlName="noticetypeselector"
                  >
                    @for (notice of notice_types; track notice) {
                    <mat-option [value]="notice.value">{{
                      notice.viewValue
                    }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div> -->
              <div class="col-sm-12 col-md-3 col-lg-6">
                <mat-form-field class="w-100">
                  <mat-label>Name</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-3 col-lg-3">
                <mat-form-field class="w-100">
                  <mat-label>Contact Number 1</mat-label>
                  <input type="tel" matInput placeholder="">
                  <mat-icon matSuffix>call</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-3 col-lg-3">
                <mat-form-field class="w-100">
                  <mat-label>Contact Number 2</mat-label>
                  <input type="tel" matInput placeholder="">
                  <mat-icon matSuffix>call</mat-icon>
                  <mat-hint align="start"><strong>Optional</strong> </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row mt-3" *ngIf='selectedNoticeType=="pharmacy_notice"&&selectedNoticeType!="delivery_notice"'>
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="input-group w-100">
                  <label for="upphopre" class="mb-2 text-grey">Photos of Prescription</label>
                  <input type="file" id="upphopre">
                  <mat-hint><strong>Optional</strong></mat-hint>
                  </div>
              </div>
              <div class="col-sm-12 col-md-8 col-lg-8">
                <mat-form-field class="w-100 mt-2">
                  <mat-label>Write your Prescription</mat-label>
                  <textarea matInput placeholder=""></textarea>
                </mat-form-field>
              </div>
            </div>
            <section *ngIf='selectedNoticeType!="pharmacy_notice"&&selectedNoticeType=="delivery_notice"' >
            <div class="row mt-3">
              <div class="col-sm-12 col-md-3 col-lg-3">
                <mat-form-field class="w-100" style="margin-top: 32px;">
                  <mat-label>Select Package Type</mat-label>
                  <mat-select [(value)]="selected_package_type">
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-3 col-lg-3">
                <mat-form-field class="w-100" style="margin-top: 32px;">
                  <mat-label>Suitable Vehicle Type</mat-label>
                  <mat-select [(value)]="selected_suitable_vehicle_type">
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-3 col-lg-3">
                <mat-form-field class="w-100" style="margin-top: 32px;">
                  <mat-label>Package Weight</mat-label>
                  <input matInput placeholder="" value="">
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="input-group w-100">
                  <label for="upphopackage" class="mb-2 text-grey">Photos of Package</label>
                  <input type="file" id="upphopackage">
                  </div>
              </div>
            </div>
          </section>
          <div class="d-flex mt-3">
            <button
              mat-raised-button
              color="primary"
              class="primary-color ml-auto btn-rnext"
              matStepperNext
            >
              Next
            </button>
          </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Location Details</ng-template>
            <section  *ngIf='selectedNoticeType=="pharmacy_notice"&&selectedNoticeType!="delivery_notice"'>
              <div class="row mt-3">
                <div class="col-sm-4">
              <mat-form-field class="full-width">
                <mat-label>Searching Province</mat-label>
                <mat-select  name="province" formControlName="searching_provinceFormControl">
                 
                    <!-- <mat-option value="southern">Southern</mat-option> -->
                </mat-select>
                <!-- @if (provinceFormControl.hasError('required')) {
                  <mat-error>Searching province is <strong>required</strong></mat-error>
                  } -->
              </mat-form-field>
              </div>
              <div class="col-sm-4">
              <mat-form-field class="full-width">
                <mat-label>Searching District</mat-label>
                <mat-select name="district" formControlName="searching_districtFormControl">
                    <!-- <mat-option value="galle">Galle</mat-option> -->
                </mat-select>
                <!-- @if (districtFormControl.hasError('required')) {
                  <mat-error>Pharmacy located district is <strong>required</strong></mat-error>
                  } -->
              </mat-form-field>
              </div>
              <div class="col-sm-4">
              <mat-form-field class="full-width">
                <mat-label>Searching Town</mat-label>
                <mat-select name="town" formControlName="searching_townFormControl">
                    <!-- <mat-option value="galle">Galle</mat-option> -->
                </mat-select>
                <!-- @if (townFormControl.hasError('required')) {
                  <mat-error>Pharmacy located town is <strong>required</strong></mat-error>
                  } -->
              </mat-form-field>
              </div>
              <div class="clearfix"></div>
              <div class="clearfix"></div>
              <div class="clearfix"></div>
              <div class="d-flex mt-3">
                <button
                  mat-raised-button
                  color="primary"
                  class="primary-color ml-auto btn-rnext"
                  matStepperNext
                >
                  Next
                </button>
              </div>
              </div>

            </section>
            <section  *ngIf='selectedNoticeType!="pharmacy_notice"&&selectedNoticeType=="delivery_notice"'>
              <div class="row mt-3">
                <div class="col-sm-4">
              <mat-form-field class="full-width">
                <mat-label>Searching Province</mat-label>
                <mat-select  name="province" formControlName="searching_provinceFormControl">
                 
                    <!-- <mat-option value="southern">Southern</mat-option> -->
                </mat-select>
                <!-- @if (provinceFormControl.hasError('required')) {
                  <mat-error>Searching province is <strong>required</strong></mat-error>
                  } -->
              </mat-form-field>
              </div>
              <div class="col-sm-4">
              <mat-form-field class="full-width">
                <mat-label>Searching District</mat-label>
                <mat-select name="district" formControlName="searching_districtFormControl">
                    <!-- <mat-option value="galle">Galle</mat-option> -->
                </mat-select>
                <!-- @if (districtFormControl.hasError('required')) {
                  <mat-error>Pharmacy located district is <strong>required</strong></mat-error>
                  } -->
              </mat-form-field>
              </div>
              <div class="col-sm-4">
              <mat-form-field class="full-width">
                <mat-label>Searching Town</mat-label>
                <mat-select name="town" formControlName="searching_townFormControl">
                    <!-- <mat-option value="galle">Galle</mat-option> -->
                </mat-select>
                <!-- @if (townFormControl.hasError('required')) {
                  <mat-error>Pharmacy located town is <strong>required</strong></mat-error>
                  } -->
              </mat-form-field>
              </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
              <mat-form-field class="full-width">
                <mat-label>Searching Province</mat-label>
                <mat-select  name="province" formControlName="searching_provinceFormControl">
                 
                    <!-- <mat-option value="southern">Southern</mat-option> -->
                </mat-select>
                <!-- @if (provinceFormControl.hasError('required')) {
                  <mat-error>Searching province is <strong>required</strong></mat-error>
                  } -->
              </mat-form-field>
              </div>
              <div class="col-sm-4">
              <mat-form-field class="full-width">
                <mat-label>Searching District</mat-label>
                <mat-select name="district" formControlName="searching_districtFormControl">
                    <!-- <mat-option value="galle">Galle</mat-option> -->
                </mat-select>
                <!-- @if (districtFormControl.hasError('required')) {
                  <mat-error>Pharmacy located district is <strong>required</strong></mat-error>
                  } -->
              </mat-form-field>
              </div>
              <div class="col-sm-4">
              <mat-form-field class="full-width">
                <mat-label>Searching Town</mat-label>
                <mat-select name="town" formControlName="searching_townFormControl">
                    <!-- <mat-option value="galle">Galle</mat-option> -->
                </mat-select>
                <!-- @if (townFormControl.hasError('required')) {
                  <mat-error>Pharmacy located town is <strong>required</strong></mat-error>
                  } -->
              </mat-form-field>
              </div>
              <div class="d-flex mt-3">
                <button
                  mat-raised-button
                  color="primary"
                  class="primary-color ml-auto btn-rnext"
                  matStepperNext
                >
                  Next
                </button>
              </div>
              </div>

            </section>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <div class="wrapperAlert">

            <div class="contentAlert">
          
              <div class="topHalf">
          
                <p><svg viewBox="0 0 512 512" width="100" title="check-circle">
                  <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                  </svg></p>
                <h1>Notice Published</h1>
          
               <ul class="bg-bubbles">
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
               </ul>
              </div>
              <div class="bottomHalf">
                <p>You have publish your pharmacy notice for Pharmacies located in southern province galle district galle town</p>
              </div>
            </div>        
          </div>
          <div class="d-flex mt-3">
            <button
              mat-raised-button
              color="primary"
              class="primary-color ml-auto btn-rnext"
              (click)="stepper.reset()"
            >
             Finish
            </button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>
