<div class="row justify-content-center">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <div class="inbox inbox-scroll">
      <div class="inbox-list">
        <div class="message-item unread" *ngFor="let noticeObj of notices">
          <input class="checkbox" type="checkbox"/>
          <header>
            <div class="sender-info">
              <span class="subject">Notice ID : {{noticeObj?.notice?.id}}</span>
              <!--              <div class="d-flex">-->
              <!--                <mat-icon matListItemIcon style="margin-left: -5px"-->
              <!--                >medication-->
              <!--                </mat-icon-->
              <!--                >-->
              <!--                <span class="from" style="margin-top: 3px">Pharmacy</span>-->
              <!--              </div>-->
            </div>
            <span class="time">2 days ago</span>
          </header>
          <div class="main ms-4 mt-3">
            <div class="d-flex mt-3">
              <div class="flex-fill">
                <mat-icon aria-hidden="false" class="va-bottom" aria-label="Example home icon"
                          fontIcon="person"></mat-icon>
                <strong class="ms-2">Name</strong> :
                <span class="ms-2">
                    {{noticeObj?.notice?.personName}}
              </span>
              </div>
            </div>
            <div class="d-flex mt-3">
              <div class="flex-fill">
                <mat-icon aria-hidden="false" class="va-bottom" aria-label="Example home icon"
                          fontIcon="call"></mat-icon>
                <strong class="ms-2">Contact</strong> :
                <span class="ms-2" *ngFor="let contact of getContactDetails(noticeObj?.notice)">
                  {{contact.number}}
              </span>
              </div>
            </div>
            <div class="d-flex mt-3">
              <div class="flex-fill">
                <mat-icon aria-hidden="false" class="va-bottom" aria-label="District icon"
                          fontIcon="zoom_in_map"></mat-icon>
                <strong class="ms-2">District</strong> :
                <span class="ms-2">{{noticeObj?.notice?.town?.district?.name}}</span>
              </div>
              <div class="flex-fill">
                <mat-icon aria-hidden="false" class="va-bottom" aria-label="Town icon"
                          fontIcon="location_city"></mat-icon>
                <strong class="ms-2">Town</strong> : <span class="ms-2">{{noticeObj?.notice?.town?.name}}</span>
              </div>
            </div>
            <div class="row mt-3" style="border: 2px solid #dad9d9;padding: 10px 5px 5px;margin-right: 10px">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <mat-icon aria-hidden="false" class="va-bottom" aria-label="Example home icon"
                          fontIcon="description"></mat-icon>
                <strong class="ms-2">Prescription</strong>
              </div>
              <div class="col-12" style="margin-top: 8px">
                <div style="font-weight: bold">Description</div>
                <p
                  style="white-space: pre-wrap;">{{noticeObj?.notice?.prescription === '' ? 'Not Available' : noticeObj?.notice?.prescription}}</p>
              </div>
              <div class="col-12" style="padding: 0px">
                <div style="font-weight: bold;padding-left: 12px">Attachments</div>
                <!--                <p>{{noticeObj.notice.noticeTxt}}</p>-->
                <div *ngIf="noticeObj.images?.length>0" style="margin-top: 5px">
                <span style="padding: 8px;" *ngFor="let image of noticeObj.images" (click)="viewImg(image)">
                  <img width="60px" height="60px" [src]="image" alt=""
                       style="border: 2px solid #d0d0d0;padding: 2px;margin-bottom: 8px">
                </span>
                </div>
                <div *ngIf="noticeObj.images===undefined" style="padding-left: 12px">
                  Not Available
                </div>
              </div>
              <!--              <div class="col-12" style="padding: 0px" *ngIf="noticeObj.images.length===0">-->
              <!--                <div style="font-weight: bold;margin-bottom: 5px;">Images</div>-->
              <!--                <p>N/A</p>-->
              <!--              </div>-->
            </div>
            <!--            <div class="row mt-3">-->
            <!--              <div style="font-weight: bold">Description</div>-->
            <!--              <p>{{notice.noticeTxt}}</p>-->
            <!--            </div>-->
            <!--            <div class="row mt-3">-->
            <!--              <div style="font-weight: bold">Images</div>-->
            <!--              <p>{{notice.noticeTxt}}</p>-->
            <!--            </div>-->
          </div>
          <div class="box-buttons">
            <div class="row mt-3">
              <mat-chip-listbox
                class="d-flex "
                aria-label="pharmacy_information_listbox"
                style="padding-left: 60px"
              >
                <mat-chip
                  class="primary_chip flex-fill"
                  matTooltip="Sent"
                  matTooltipHideDelay="100"
                >
                  <mat-icon
                    class="align-middle"
                    matChipAvatar
                    aria-hidden="false"
                    aria-label="contact icon"
                    fontIcon="outgoing_mail"
                  ></mat-icon>
                  120
                </mat-chip>
                <mat-chip
                  class="primary_chip flex-fill"
                  matTooltip="Views"
                  matTooltipHideDelay="100"
                >
                  <mat-icon
                    matChipAvatar
                    aria-hidden="false"
                    aria-label="contact icon"
                    fontIcon="visibility"
                  ></mat-icon>
                  20
                </mat-chip>
                <mat-chip
                  class="primary_chip flex-fill"
                  matTooltip="Respond"
                  matTooltipHideDelay="100"
                  data-bs-toggle="collapse"
                  data-bs-target="#noticeid_response_list"
                  aria-expanded="false"
                  aria-controls="noticeid_response_list"
                >
                  <mat-icon
                    matChipAvatar
                    aria-hidden="false"
                    aria-label="contact icon"
                    fontIcon="mark_email_read"
                  ></mat-icon>
                  5
                </mat-chip>
                <!-- <mat-chip
                  class="primary_chip float-right"
                  matTooltip="View"
                  matTooltipHideDelay="100"

                >
                  <mat-icon
                    matChipAvatar
                    aria-hidden="false"
                    aria-label="contact icon"
                    fontIcon="expand_circle_down"

                  ></mat-icon>
                  5
                </mat-chip> -->
                <!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#noticeid_response_list" aria-expanded="false" aria-controls="noticeid_response_list">
                  Button
                </button> -->
              </mat-chip-listbox>
            </div>

          </div>
          <div class="collapse mt-3" id="noticeid_response_list">
            <div class="card unread mt-2">
              <div class="box-header">
                <h3>
                  <a href="javascript:void(0);" (click)="navigateToDestination('customer/dashboard/shopname/profile')"
                     class="subject"
                  ><img
                    src="https://static.wixstatic.com/media/abe5aa_3ff2132c9a13404494017dab519b1bb1~mv2.jpg/v1/fill/w_640,h_426,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/abe5aa_3ff2132c9a13404494017dab519b1bb1~mv2.jpg"
                    alt=""
                  />
                    Roswell Parian</a
                  >
                  <span>March 21,18:45pm <i class="fa fa-globe"></i></span>
                  <div class="rating">
                    <!-- Five stars -->
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9734;</span>
                  </div>
                </h3>
                <span
                ><mat-icon
                  aria-hidden="false"
                  aria-label="response_settings"
                  fontIcon="more_vert"
                  [matMenuTriggerFor]="response_settings_menu"
                ></mat-icon
                ></span>
                <div class="window"><span></span></div>
                <mat-menu #response_settings_menu="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </div>
              <div class="box-content">
                <div class="bottom">
                  <mat-chip-listbox class="d-flex bd-highlight" aria-label="pharmacy_information_listbox">
                    <mat-chip class="bd-highlight primary_chip" matTooltip="Price" matTooltipHideDelay="100">
                      <mat-icon
                        matChipAvatar
                        aria-hidden="false"
                        aria-label="price icon"
                        fontIcon="payments"
                      ></mat-icon>
                      1200
                    </mat-chip>
                    <mat-chip
                      class="chip bd-highlight shop-open"
                      matTooltip="We're Open"
                      matTooltipHideDelay="100"
                    >
                      Open
                    </mat-chip>
                    <mat-chip
                      class="chip ms-auto bd-highlight thumbs_up not_respond"
                      matTooltip="Let us know you received response"
                      matTooltipHideDelay="100"
                    >
                      <mat-icon
                        color="success"
                        matChipAvatar
                        aria-hidden="false"
                        aria-label="received icon"
                        fontIcon="thumb_up"
                      ></mat-icon>
                    </mat-chip>
                  </mat-chip-listbox>
                  <mat-chip-listbox class="d-flex">
                    <mat-chip
                      class="primary_chip flex-fill"
                      matTooltip="Contact us"
                      matTooltipHideDelay="100"
                    >
                      <mat-icon
                        matChipAvatar
                        aria-hidden="false"
                        aria-label="contact icon"
                        fontIcon="phone_in_talk"
                      ></mat-icon>
                      0912 243 892
                    </mat-chip>
                    <mat-chip
                      class="primary_chip flex-fill"
                      matTooltip="Our Address"
                      matTooltipHideDelay="100"
                    >
                      <mat-icon
                        matChipAvatar
                        aria-hidden="false"
                        aria-label="Example home icon"
                        fontIcon="location_on"
                      ></mat-icon>
                      44 Wakwella Rd, Galle 80000
                    </mat-chip>
                  </mat-chip-listbox>
                </div>
              </div>
            </div>
            <div class="card unread mt-2">
              <div class="box-header">
                <h3>
                  <a href="javascript:void(0);" (click)="navigateToDestination('customer/dashboard/shopname/profile')"
                     class="subject"
                  ><img
                    src="https://static.wixstatic.com/media/abe5aa_3ff2132c9a13404494017dab519b1bb1~mv2.jpg/v1/fill/w_640,h_426,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/abe5aa_3ff2132c9a13404494017dab519b1bb1~mv2.jpg"
                    alt=""
                  />
                    Roswell Parian</a
                  >
                  <span>March 21,18:45pm <i class="fa fa-globe"></i></span>
                  <div class="rating">
                    <!-- Five stars -->
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9734;</span>
                    <span class="star">&#9734;</span>
                  </div>
                </h3>
                <span
                ><mat-icon
                  aria-hidden="false"
                  aria-label="response_settings"
                  fontIcon="more_vert"
                  [matMenuTriggerFor]="response_settings_menu"
                ></mat-icon
                ></span>
                <div class="window"><span></span></div>
                <mat-menu #response_settings_menu="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </div>
              <div class="box-content">
                <div class="bottom">
                  <mat-chip-listbox class="d-flex bd-highlight" aria-label="pharmacy_information_listbox">
                    <mat-chip class="primary_chip bd-highlight" matTooltip="Price" matTooltipHideDelay="100">
                      <mat-icon
                        matChipAvatar
                        aria-hidden="false"
                        aria-label="price icon"
                        fontIcon="payments"
                      ></mat-icon>
                      1200
                    </mat-chip>
                    <mat-chip
                      class="chip shop-close bd-highlight"
                      matTooltip="We're Close"
                      matTooltipHideDelay="100"
                    >
                      Closed
                    </mat-chip>
                    <mat-chip
                      class="chip ms-auto bd-highlight thumbs_up respond"
                      matTooltip="Thank you for noticing us"
                      matTooltipHideDelay="100"
                    >
                      <mat-icon
                        color="success"
                        matChipAvatar
                        aria-hidden="false"
                        aria-label="received icon"
                        fontIcon="thumb_up"
                      ></mat-icon>
                    </mat-chip>
                  </mat-chip-listbox>
                  <mat-chip-listbox class="d-flex">
                    <mat-chip
                      class="primary_chip flex-fill"
                      matTooltip="Contact us"
                      matTooltipHideDelay="100"
                    >
                      <mat-icon
                        matChipAvatar
                        aria-hidden="false"
                        aria-label="contact icon"
                        fontIcon="phone_in_talk"
                      ></mat-icon>
                      0912 243 892
                    </mat-chip>
                    <mat-chip
                      class="primary_chip flex-fill"
                      matTooltip="Our Address"
                      matTooltipHideDelay="100"
                    >
                      <mat-icon
                        matChipAvatar
                        aria-hidden="false"
                        aria-label="Example home icon"
                        fontIcon="location_on"
                      ></mat-icon>
                      44 Wakwella Rd, Galle 80000
                    </mat-chip>
                  </mat-chip-listbox>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--        <div class="message-item unread">-->
        <!--          <input class="checkbox" type="checkbox" />-->
        <!--          <header>-->
        <!--            <div class="sender-info">-->
        <!--              <span class="subject">Notice ID</span>-->
        <!--              <div class="d-flex">-->
        <!--                <mat-icon matListItemIcon style="margin-left: -5px"-->
        <!--                  >medication</mat-icon-->
        <!--                >-->
        <!--                <span class="from" style="margin-top: 3px">Pharmacy</span>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--            <span class="time">2 days ago</span>-->
        <!--          </header>-->
        <!--          <div class="box-buttons">-->
        <!--            <div class="row mt-3">-->
        <!--              <mat-chip-listbox-->
        <!--                aria-label="pharmacy_information_listbox"-->
        <!--                style="padding-left: 60px"-->
        <!--              >-->
        <!--                <mat-chip-->
        <!--                  class="primary_chip"-->
        <!--                  matTooltip="Sent"-->
        <!--                  matTooltipHideDelay="100"-->
        <!--                >-->
        <!--                  <mat-icon-->
        <!--                    matChipAvatar-->
        <!--                    aria-hidden="false"-->
        <!--                    aria-label="contact icon"-->
        <!--                    fontIcon="outgoing_mail"-->
        <!--                  ></mat-icon>-->
        <!--                  120-->
        <!--                </mat-chip>-->
        <!--                <mat-chip-->
        <!--                  class="primary_chip"-->
        <!--                  matTooltip="Views"-->
        <!--                  matTooltipHideDelay="100"-->
        <!--                >-->
        <!--                  <mat-icon-->
        <!--                    matChipAvatar-->
        <!--                    aria-hidden="false"-->
        <!--                    aria-label="contact icon"-->
        <!--                    fontIcon="visibility"-->
        <!--                  ></mat-icon>-->
        <!--                  20-->
        <!--                </mat-chip>-->
        <!--                <mat-chip-->
        <!--                  class="primary_chip"-->
        <!--                  matTooltip="Respond"-->
        <!--                  matTooltipHideDelay="100"-->
        <!--                >-->
        <!--                  <mat-icon-->
        <!--                    matChipAvatar-->
        <!--                    aria-hidden="false"-->
        <!--                    aria-label="contact icon"-->
        <!--                    fontIcon="mark_email_read"-->
        <!--                  ></mat-icon>-->
        <!--                  5-->
        <!--                </mat-chip>-->
        <!--              </mat-chip-listbox>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          &lt;!&ndash; <div class="main">-->
        <!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id metus lacus.</p>-->
        <!--              </div> &ndash;&gt;-->
        <!--        </div>-->
        <!--        <div class="message-item unread">-->
        <!--          <input class="checkbox" type="checkbox" />-->
        <!--          <header>-->
        <!--            <div class="sender-info">-->
        <!--              <span class="subject">Notice ID</span>-->
        <!--              <div class="d-flex">-->
        <!--                <mat-icon matListItemIcon style="margin-left: -5px"-->
        <!--                  >medication</mat-icon-->
        <!--                >-->
        <!--                <span class="from" style="margin-top: 3px">Pharmacy</span>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--            <span class="time">2 days ago</span>-->
        <!--          </header>-->
        <!--          <div class="box-buttons">-->
        <!--            <div class="row mt-3">-->
        <!--              <mat-chip-listbox-->
        <!--                aria-label="pharmacy_information_listbox"-->
        <!--                style="padding-left: 60px"-->
        <!--              >-->
        <!--                <mat-chip-->
        <!--                  class="primary_chip"-->
        <!--                  matTooltip="Sent"-->
        <!--                  matTooltipHideDelay="100"-->
        <!--                >-->
        <!--                  <mat-icon-->
        <!--                    matChipAvatar-->
        <!--                    aria-hidden="false"-->
        <!--                    aria-label="contact icon"-->
        <!--                    fontIcon="outgoing_mail"-->
        <!--                  ></mat-icon>-->
        <!--                  120-->
        <!--                </mat-chip>-->
        <!--                <mat-chip-->
        <!--                  class="primary_chip"-->
        <!--                  matTooltip="Views"-->
        <!--                  matTooltipHideDelay="100"-->
        <!--                >-->
        <!--                  <mat-icon-->
        <!--                    matChipAvatar-->
        <!--                    aria-hidden="false"-->
        <!--                    aria-label="contact icon"-->
        <!--                    fontIcon="visibility"-->
        <!--                  ></mat-icon>-->
        <!--                  20-->
        <!--                </mat-chip>-->
        <!--                <mat-chip-->
        <!--                  class="primary_chip"-->
        <!--                  matTooltip="Respond"-->
        <!--                  matTooltipHideDelay="100"-->
        <!--                >-->
        <!--                  <mat-icon-->
        <!--                    matChipAvatar-->
        <!--                    aria-hidden="false"-->
        <!--                    aria-label="contact icon"-->
        <!--                    fontIcon="mark_email_read"-->
        <!--                  ></mat-icon>-->
        <!--                  5-->
        <!--                </mat-chip>-->
        <!--              </mat-chip-listbox>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          &lt;!&ndash; <div class="main">-->
        <!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id metus lacus.</p>-->
        <!--              </div> &ndash;&gt;-->
        <!--        </div>-->
        <!--        <div class="message-item unread">-->
        <!--          <input class="checkbox" type="checkbox" />-->
        <!--          <header>-->
        <!--            <div class="sender-info">-->
        <!--              <span class="subject">Notice ID</span>-->
        <!--              <div class="d-flex">-->
        <!--                <mat-icon matListItemIcon style="margin-left: -5px"-->
        <!--                  >medication</mat-icon-->
        <!--                >-->
        <!--                <span class="from" style="margin-top: 3px">Pharmacy</span>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--            <span class="time">2 days ago</span>-->
        <!--          </header>-->
        <!--          <div class="box-buttons">-->
        <!--            <div class="row mt-3">-->
        <!--              <mat-chip-listbox-->
        <!--                aria-label="pharmacy_information_listbox"-->
        <!--                style="padding-left: 60px"-->
        <!--              >-->
        <!--                <mat-chip-->
        <!--                  class="primary_chip"-->
        <!--                  matTooltip="Sent"-->
        <!--                  matTooltipHideDelay="100"-->
        <!--                >-->
        <!--                  <mat-icon-->
        <!--                    matChipAvatar-->
        <!--                    aria-hidden="false"-->
        <!--                    aria-label="contact icon"-->
        <!--                    fontIcon="outgoing_mail"-->
        <!--                  ></mat-icon>-->
        <!--                  120-->
        <!--                </mat-chip>-->
        <!--                <mat-chip-->
        <!--                  class="primary_chip"-->
        <!--                  matTooltip="Views"-->
        <!--                  matTooltipHideDelay="100"-->
        <!--                >-->
        <!--                  <mat-icon-->
        <!--                    matChipAvatar-->
        <!--                    aria-hidden="false"-->
        <!--                    aria-label="contact icon"-->
        <!--                    fontIcon="visibility"-->
        <!--                  ></mat-icon>-->
        <!--                  20-->
        <!--                </mat-chip>-->
        <!--                <mat-chip-->
        <!--                  class="primary_chip"-->
        <!--                  matTooltip="Respond"-->
        <!--                  matTooltipHideDelay="100"-->
        <!--                >-->
        <!--                  <mat-icon-->
        <!--                    matChipAvatar-->
        <!--                    aria-hidden="false"-->
        <!--                    aria-label="contact icon"-->
        <!--                    fontIcon="mark_email_read"-->
        <!--                  ></mat-icon>-->
        <!--                  5-->
        <!--                </mat-chip>-->
        <!--              </mat-chip-listbox>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          &lt;!&ndash; <div class="main">-->
        <!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id metus lacus.</p>-->
        <!--              </div> &ndash;&gt;-->
        <!--        </div>-->
        <!--        <div class="message-item unread">-->
        <!--          <input class="checkbox" type="checkbox" />-->
        <!--          <header>-->
        <!--            <div class="sender-info">-->
        <!--              <span class="subject">Notice ID</span>-->
        <!--              <div class="d-flex">-->
        <!--                <mat-icon matListItemIcon style="margin-left: -5px"-->
        <!--                  >medication</mat-icon-->
        <!--                >-->
        <!--                <span class="from" style="margin-top: 3px">Pharmacy</span>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--            <span class="time">2 days ago</span>-->
        <!--          </header>-->
        <!--          <div class="box-buttons">-->
        <!--            <div class="row mt-3">-->
        <!--              <mat-chip-listbox-->
        <!--                aria-label="pharmacy_information_listbox"-->
        <!--                style="padding-left: 60px"-->
        <!--              >-->
        <!--                <mat-chip-->
        <!--                  class="primary_chip"-->
        <!--                  matTooltip="Sent"-->
        <!--                  matTooltipHideDelay="100"-->
        <!--                >-->
        <!--                  <mat-icon-->
        <!--                    matChipAvatar-->
        <!--                    aria-hidden="false"-->
        <!--                    aria-label="contact icon"-->
        <!--                    fontIcon="outgoing_mail"-->
        <!--                  ></mat-icon>-->
        <!--                  120-->
        <!--                </mat-chip>-->
        <!--                <mat-chip-->
        <!--                  class="primary_chip"-->
        <!--                  matTooltip="Views"-->
        <!--                  matTooltipHideDelay="100"-->
        <!--                >-->
        <!--                  <mat-icon-->
        <!--                    matChipAvatar-->
        <!--                    aria-hidden="false"-->
        <!--                    aria-label="contact icon"-->
        <!--                    fontIcon="visibility"-->
        <!--                  ></mat-icon>-->
        <!--                  20-->
        <!--                </mat-chip>-->
        <!--                <mat-chip-->
        <!--                  class="primary_chip"-->
        <!--                  matTooltip="Respond"-->
        <!--                  matTooltipHideDelay="100"-->
        <!--                >-->
        <!--                  <mat-icon-->
        <!--                    matChipAvatar-->
        <!--                    aria-hidden="false"-->
        <!--                    aria-label="contact icon"-->
        <!--                    fontIcon="mark_email_read"-->
        <!--                  ></mat-icon>-->
        <!--                  5-->
        <!--                </mat-chip>-->
        <!--              </mat-chip-listbox>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          &lt;!&ndash; <div class="main">-->
        <!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id metus lacus.</p>-->
        <!--              </div> &ndash;&gt;-->
        <!--        </div>-->
      </div>
      <div class="force-overflow"></div>
    </div>
  </div>
  <!-- <div class="col-md-4 col-lg-4 d-md-none d-lg-none">
    <div class="inbox inbox-scroll">
      <div class="inbox-list">
        <div class="message-item unread">
          <input class="checkbox" type="checkbox" />
          <div class="box-header">
            <h3>
              <a href="" class="subject"
                ><img
                  src="https://static.wixstatic.com/media/abe5aa_3ff2132c9a13404494017dab519b1bb1~mv2.jpg/v1/fill/w_640,h_426,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/abe5aa_3ff2132c9a13404494017dab519b1bb1~mv2.jpg"
                  alt=""
                />
                Roswell Parian</a
              >
              <span>March 21,18:45pm <i class="fa fa-globe"></i></span>
            </h3>
            <span
              ><mat-icon
                aria-hidden="false"
                aria-label="response_settings"
                fontIcon="more_vert"
                [matMenuTriggerFor]="response_settings_menu"
              ></mat-icon
            ></span>
            <div class="window"><span></span></div>
            <mat-menu #response_settings_menu="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
          </div>
          <div class="box-content">
            <div class="content">
              <img src="https://static.wixstatic.com/media/abe5aa_3ff2132c9a13404494017dab519b1bb1~mv2.jpg/v1/fill/w_640,h_426,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/abe5aa_3ff2132c9a13404494017dab519b1bb1~mv2.jpg" alt="" />
            </div>
            <div class="bottom">
              <mat-chip-listbox aria-label="pharmacy_information_listbox">
                <mat-chip class="primary_chip" matTooltip="Price" matTooltipHideDelay="100">
                  <mat-icon
                    matChipAvatar
                    aria-hidden="false"
                    aria-label="price icon"
                    fontIcon="payments"
                  ></mat-icon>
                  1200
                </mat-chip>
                <mat-chip
                  class="chip shop-open"
                  matTooltip="We're Open"
                  matTooltipHideDelay="100"
                >
                  <mat-icon
                    color="success"
                    matChipAvatar
                    aria-hidden="false"
                    aria-label="is shop open icon"
                    fontIcon="meeting_room"
                  ></mat-icon>
                  Open
                </mat-chip>
                <mat-chip
                  class="chip thumbs_up not_respond"
                  matTooltip="Let us know you received response"
                  matTooltipHideDelay="100"
                >
                  <mat-icon
                    color="success"
                    matChipAvatar
                    aria-hidden="false"
                    aria-label="received icon"
                    fontIcon="thumb_up"
                  ></mat-icon>
                </mat-chip>
                <mat-chip
                  class="w-100 primary_chip"
                  matTooltip="Contact us"
                  matTooltipHideDelay="100"
                >
                  <mat-icon
                    matChipAvatar
                    aria-hidden="false"
                    aria-label="contact icon"
                    fontIcon="phone_in_talk"
                  ></mat-icon>
                  0912 243 892
                </mat-chip>
                <mat-chip
                  class="w-100 primary_chip"
                  matTooltip="Our Address"
                  matTooltipHideDelay="100"
                >
                  <mat-icon
                    matChipAvatar
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="location_on"
                  ></mat-icon>
                  44 Wakwella Rd, Galle 80000
                </mat-chip>
              </mat-chip-listbox>
              <p>The life is much more interesant, when you remmenber the last time</p>
              <span><span class="fa fa-search-plus"></span></span>
            </div>
          </div>
          <header>
            <div class="sender-info">
              <span class="subject">Welcome to UK Casino!</span>
              <span class="from">Casino Management</span>
            </div>
            <span class="time">2 days ago</span>
          </header>
          <div class="main">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id metus lacus.</p>
              </div>
        </div>

      </div>
      <div class="force-overflow"></div>
    </div>
  </div> -->
  <!-- <div class="col-md-4 col-lg-4 d-md-none d-lg-none">
    <div class="message-item unread">
      <header>
        <div class="sender-info">
          <span class="subject">Notice ID</span>
          <div class="d-flex">
            <mat-icon matListItemIcon style="margin-left: -5px"
              >medication</mat-icon
            >
            <span class="from" style="margin-top: 3px">Pharmacy</span>
          </div>
        </div>
        <span class="time">2 days ago</span>
      </header>
      <div class="main ms-4 mt-3">
        <div class="row mt-3">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <mat-icon aria-hidden="false" class="va-bottom" aria-label="Example home icon" fontIcon="call"></mat-icon> <strong class="ms-2">Contact</strong> : <span class="ms-2">0765363828</span>
        </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
              <mat-icon aria-hidden="false" class="ms-2 va-bottom" aria-label="District icon" fontIcon="zoom_in_map"></mat-icon><strong class="ms-2">District</strong> : <span class="ms-2">Galle</span>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
             <mat-icon aria-hidden="false" class="ms-2 va-bottom" aria-label="Town icon" fontIcon="location_city"></mat-icon><strong class="ms-2">Town</strong> : <span class="ms-2">Galle</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <mat-icon aria-hidden="false" class="va-bottom" aria-label="Example home icon" fontIcon="description"></mat-icon> <strong class="ms-2">Prescription</strong>
        </div>
        </div>
        <div class="row mt-3">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
        </div>

    </div>

  </div> -->
</div>

<app-image-viewer></app-image-viewer>

<!--<div id="modalNotice" class="modal" #divModal [ngStyle]="{'display':viewImgModal?'block':'none'}">-->
<!--  <span class="close" style="margin-top: 50px" (click)="closeImg()">&times;</span>-->
<!--  <img class="modal-content" [src]="imgSrc">-->
<!--  <div id="caption"></div>-->
<!--</div>-->
