<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <div class="profile-section inbox-scroll">
      <div class="box1 box ">

        <app-account-info [userType]="'customer'"></app-account-info>

      </div>
      <div class="ratings-card ratings-vertical mt-2">
        <div class="d-flex justify-content-between">
          <div class="card-title">Ratings</div>
          <div>
            <span class="me-2"><strong>3.8</strong></span>
            <div class="rating">
              <!-- Five stars -->
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9734;</span>
            </div>
          </div>
        </div>

        <div class="card-content">
          <div class="group-a">
            <div class="ratings-wrapper">
              <div class="rating-star">5 Star</div>
              <div class="rating-precentage">
                <div class="inner" style="--value:69%"></div>
              </div>
            </div>
            <div class="ratings-wrapper">
              <div class="rating-star">4 Star</div>
              <div class="rating-precentage">
                <div class="inner" style="--value:50%"></div>
              </div>
            </div>
            <div class="ratings-wrapper">
              <div class="rating-star">3 Star</div>
              <div class="rating-precentage">
                <div class="inner" style="--value:75%"></div>
              </div>
            </div>
          </div>
          <div class="group-b">
            <div class="ratings-wrapper">
              <div class="rating-star">2 Star</div>
              <div class="rating-precentage">
                <div class="inner" style="--value:95%"></div>
              </div>
            </div>
            <div class="ratings-wrapper">
              <div class="rating-star">1 Star</div>
              <div class="rating-precentage">
                <div class="inner" style="--value:90%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="review-card mt-2">
          <div class="card-title">Reviews & Ratings</div>
          <div class="testimonial-box">
            <!--top------------------------->
            <div class="box-top">
              <!--profile----->
              <div class="profile">
                <!--img---->
                <div class="review-profile-img">
                  <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png"/>
                </div>
                <!--name-and-username-->
                <div class="name-user">
                  <strong>Liam mendes</strong>
                  <span>liammendes</span>
                </div>
              </div>
              <!--reviews------>
              <div class="rating">
                <!-- Five stars -->
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
              </div>
            </div>
            <!--Comments---------------------------------------->
            <div class="client-comment">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident
                temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates
                incidunt blanditiis sed atque cumque.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="force-overflow"></div>
    </div>
  </div>
</div>
