<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-12 mt-3">
      <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
        <mat-step [stepControl]="firstFormGroup"  [completed]="false">
          <form [formGroup]="firstFormGroup" #myFirstFormGroup #firstFormDirective="ngForm">
            <ng-template matStepLabel>Basic Information</ng-template>
            <div class="row mt-3">
              <!-- <div class="col-sm-12 col-md-3 col-lg-3">
                <mat-form-field class="w-100">
                  <mat-label>Notice Type</mat-label>
                  <mat-select
                    [(ngModel)]="selectedNoticeType"
                    (ngModelChange)="print($event)"
                    name="notice_type"
                    formControlName="noticetypeselector"
                  >
                    @for (notice of notice_types; track notice) {
                    <mat-option [value]="notice.value">{{
                      notice.viewValue
                    }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div> -->
              <div class="col-sm-12 col-md-3 col-lg-6">
                <mat-form-field class="w-100">
                  <mat-label>Name</mat-label>
                  <input matInput
                         formControlName="person_name">
                  <mat-error>Name is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-3 col-lg-3">
                <mat-form-field class="w-100">
                  <mat-label>Contact Number 1</mat-label>
                  <input type="tel" matInput placeholder=""
                         formControlName="contact_number_1">
                  <mat-hint align="end"
                  >{{ firstFormGroup.get('contact_number_1').value?.length }}/10
                  </mat-hint
                  >
                  <mat-error>{{errFields.contactTxts[0]}}</mat-error>
                  <mat-icon matSuffix>call</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-3 col-lg-3">
                <mat-form-field class="w-100">
                  <mat-label>Contact Number 2</mat-label>
                  <input matInput type="tel"
                         formControlName="contact_number_2">
                  <mat-hint align="end"
                  >{{ firstFormGroup.get('contact_number_2').value?.length }}/10
                  </mat-hint
                  >
                  <mat-icon matSuffix>call</mat-icon>
                  <mat-hint align="start"><strong>Optional</strong></mat-hint>
                  <mat-error>{{errFields.contactTxts[1]}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <mat-form-field class="w-100 mt-2">
                  <mat-label>Write your Prescription</mat-label>
                  <textarea matInput
                            formControlName="prescription"></textarea>
                  <mat-error>Should upload photos or write the prescription</mat-error>
                </mat-form-field>
              </div>

              <div class="col-12">
                <!--                <label for="singleFile">Upload file</label>-->
                <!--                <input id="singleFile" type="file" [fileUploadInputFor]= "mImage"/>-->
                <!--                <br>-->

                <!--                <mat-file-upload-queue #fileUploadQueue-->
                <!--                                       [fileAlias]="'file'">-->

                <!--                  <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue?.files; let i = index"></mat-file-upload>-->
                <!--                </mat-file-upload-queue>-->
                <!--                <mat-form-field class="w-100 mt-2">-->
                <!--                  <div class="input-group w-100">-->
                <!--                    <mat-label for="upphopre" class="mb-2 text-grey">Photos of Prescription</mat-label>-->
                <!--                    <input multiple type="file" id="upphopre" (change)="onFileChange($event)" formControlName="mImage">-->
                <!--                    <mat-error>Should upload photos or write the prescription</mat-error>-->
                <!--                    &lt;!&ndash;                  <mat-hint><strong>Optional</strong></mat-hint>&ndash;&gt;-->
                <!--                  </div>-->
                <!--                <div *ngFor="let file of selectedFiles">{{file.name}}</div>-->
                <app-buddy-file-upload formGroupName="imageUploadFormGroup"
                  [filesToUpload]="selectedFiles"
                  [topicTxt]="'Photos of Prescription'"
                  [errMessage]="'Should upload photos or write the prescription'"></app-buddy-file-upload>
                <!--                </mat-form-field>-->
              </div>

            </div>

            <!--            <section *ngIf='selectedNoticeType!="pharmacy_notice"&&selectedNoticeType=="delivery_notice"'>-->
            <!--              <div class="row mt-3">-->
            <!--                <div class="col-sm-12 col-md-3 col-lg-3">-->
            <!--                  <mat-form-field class="w-100" style="margin-top: 32px;">-->
            <!--                    <mat-label>Select Package Type</mat-label>-->
            <!--                    <mat-select [(value)]="selected_package_type">-->
            <!--                      <mat-option>None</mat-option>-->
            <!--                      <mat-option value="option1">Option 1</mat-option>-->
            <!--                      <mat-option value="option2">Option 2</mat-option>-->
            <!--                      <mat-option value="option3">Option 3</mat-option>-->
            <!--                    </mat-select>-->
            <!--                  </mat-form-field>-->
            <!--                </div>-->
            <!--                <div class="col-sm-12 col-md-3 col-lg-3">-->
            <!--                  <mat-form-field class="w-100" style="margin-top: 32px;">-->
            <!--                    <mat-label>Suitable Vehicle Type</mat-label>-->
            <!--                    <mat-select [(value)]="selected_suitable_vehicle_type">-->
            <!--                      <mat-option>None</mat-option>-->
            <!--                      <mat-option value="option1">Option 1</mat-option>-->
            <!--                      <mat-option value="option2">Option 2</mat-option>-->
            <!--                      <mat-option value="option3">Option 3</mat-option>-->
            <!--                    </mat-select>-->
            <!--                  </mat-form-field>-->
            <!--                </div>-->
            <!--                <div class="col-sm-12 col-md-3 col-lg-3">-->
            <!--                  <mat-form-field class="w-100" style="margin-top: 32px;">-->
            <!--                    <mat-label>Package Weight</mat-label>-->
            <!--                    <input matInput placeholder="" value="">-->
            <!--                  </mat-form-field>-->
            <!--                </div>-->
            <!--                <div class="col-sm-12 col-md-3 col-lg-3">-->
            <!--                  <div class="input-group w-100">-->
            <!--                    <label for="upphopackage" class="mb-2 text-grey">Photos of Package</label>-->
            <!--                    <input type="file" id="upphopackage">-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </section>-->
            <!--            <button type="button" (click)="resetForm()">asd</button>-->
            <div class="d-flex mt-3">
              <button
                type="submit"
                mat-raised-button
                color="primary"
                class="primary-color ml-auto btn-rnext"
                matStepperNext
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup" [completed]="false">
          <form [formGroup]="secondFormGroup" #mySecondFormGroup (ngSubmit)="onSubmit($event)"
                #secondFormDirective="ngForm">
            <ng-template matStepLabel>Location Details</ng-template>
            <!--            <section *ngIf='selectedNoticeType=="pharmacy_notice"&&selectedNoticeType!="delivery_notice"'>-->
            <div class="row mt-3">
              <div class="col-sm-6">
                <mat-form-field class="full-width">
                  <mat-label>Searching Province</mat-label>
                  <mat-select name="province" formControlName="province"
                              (ngModelChange)="getDistricts($event)">

                    <mat-option *ngFor="let province of provinces" [value]="province"
                    >{{province.name}}</mat-option>
                  </mat-select>
                  <mat-error>Province is required</mat-error>
                  <!-- @if (provinceFormControl.hasError('required')) {
                    <mat-error>Searching province is <strong>required</strong></mat-error>
                    } -->
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="full-width">
                  <mat-label>Searching District</mat-label>
                  <mat-select name="district" formControlName="district"
                              (ngModelChange)="getTowns($event)">
                    <mat-option *ngFor="let district of districts" [value]="district"
                    >{{district.name}}</mat-option>
                    <!-- <mat-option value="galle">Galle</mat-option> -->
                  </mat-select>
                  <mat-error>District is required</mat-error>
                  <!-- @if (districtFormControl.hasError('required')) {
                    <mat-error>Pharmacy located district is <strong>required</strong></mat-error>
                    } -->
                </mat-form-field>
              </div>

            </div>
            <div class="row mt-3">
              <div class="col-sm-6">
                <mat-form-field class="full-width">
                  <mat-label>Searching Town</mat-label>
                  <mat-select name="town" formControlName="town">
                    <mat-option *ngFor="let town of towns" [value]="town">{{town.name}}</mat-option>
                    <!-- <mat-option value="galle">Galle</mat-option> -->
                  </mat-select>
                  <mat-error>Town is required</mat-error>
                  <!-- @if (townFormControl.hasError('required')) {
                    <mat-error>Pharmacy located town is <strong>required</strong></mat-error>
                    } -->
                </mat-form-field>
              </div>
            </div>
            <div class="clearfix"></div>
            <div style="display: flex;justify-content: flex-end;margin-top: 20px">
              <div>
                <button
                  type="button"
                  mat-raised-button
                  color="primary"
                  class="primary-color ml-auto btn-rnext"
                  matStepperPrevious
                >
                  Back
                </button>
              </div>
              <div style="margin-left: 20px">
                <button
                  mat-raised-button
                  color="primary"
                  class="primary-color ml-auto btn-rnext"
                  type="submit"
                >
                  Finish
                </button>
              </div>
            </div>


            <!--            </section>-->
            <!--            <section *ngIf='selectedNoticeType!="pharmacy_notice"&&selectedNoticeType=="delivery_notice"'>-->
            <!--              <div class="row mt-3">-->
            <!--                <div class="col-sm-4">-->
            <!--                  <mat-form-field class="full-width">-->
            <!--                    <mat-label>Searching Province</mat-label>-->
            <!--                    <mat-select name="province" formControlName="searching_provinceFormControl">-->

            <!--                      &lt;!&ndash; <mat-option value="southern">Southern</mat-option> &ndash;&gt;-->
            <!--                    </mat-select>-->
            <!--                    &lt;!&ndash; @if (provinceFormControl.hasError('required')) {-->
            <!--                      <mat-error>Searching province is <strong>required</strong></mat-error>-->
            <!--                      } &ndash;&gt;-->
            <!--                  </mat-form-field>-->
            <!--                </div>-->
            <!--                <div class="col-sm-4">-->
            <!--                  <mat-form-field class="full-width">-->
            <!--                    <mat-label>Searching District</mat-label>-->
            <!--                    <mat-select name="district" formControlName="searching_districtFormControl">-->
            <!--                      &lt;!&ndash; <mat-option value="galle">Galle</mat-option> &ndash;&gt;-->
            <!--                    </mat-select>-->
            <!--                    &lt;!&ndash; @if (districtFormControl.hasError('required')) {-->
            <!--                      <mat-error>Pharmacy located district is <strong>required</strong></mat-error>-->
            <!--                      } &ndash;&gt;-->
            <!--                  </mat-form-field>-->
            <!--                </div>-->
            <!--                <div class="col-sm-4">-->
            <!--                  <mat-form-field class="full-width">-->
            <!--                    <mat-label>Searching Town</mat-label>-->
            <!--                    <mat-select name="town" formControlName="searching_townFormControl">-->
            <!--                      &lt;!&ndash; <mat-option value="galle">Galle</mat-option> &ndash;&gt;-->
            <!--                    </mat-select>-->
            <!--                    &lt;!&ndash; @if (townFormControl.hasError('required')) {-->
            <!--                      <mat-error>Pharmacy located town is <strong>required</strong></mat-error>-->
            <!--                      } &ndash;&gt;-->
            <!--                  </mat-form-field>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--              <div class="row mt-3">-->
            <!--                <div class="col-sm-4">-->
            <!--                  <mat-form-field class="full-width">-->
            <!--                    <mat-label>Searching Province</mat-label>-->
            <!--                    <mat-select name="province" formControlName="province"-->
            <!--                                (ngModelChange)="getDistricts($event)">-->

            <!--                      <mat-option *ngFor="let province of provinces" [value]="province"-->
            <!--                      >{{province.province.province_name}}</mat-option>-->
            <!--                    </mat-select>-->
            <!--                    <mat-error>Province is required</mat-error>-->
            <!--                    &lt;!&ndash; @if (provinceFormControl.hasError('required')) {-->
            <!--                      <mat-error>Searching province is <strong>required</strong></mat-error>-->
            <!--                      } &ndash;&gt;-->
            <!--                  </mat-form-field>-->
            <!--                </div>-->
            <!--                <div class="col-sm-4">-->
            <!--                  <mat-form-field class="full-width">-->
            <!--                    <mat-label>Searching District</mat-label>-->
            <!--                    <mat-select name="district" formControlName="district"-->
            <!--                                (ngModelChange)="getTowns($event)">-->
            <!--                      <mat-option *ngFor="let district of districts" [value]="district"-->
            <!--                      >{{district.district.district_name}}</mat-option>-->
            <!--                      &lt;!&ndash; <mat-option value="galle">Galle</mat-option> &ndash;&gt;-->
            <!--                    </mat-select>-->
            <!--                    <mat-error>District is required</mat-error>-->
            <!--                    &lt;!&ndash; @if (districtFormControl.hasError('required')) {-->
            <!--                      <mat-error>Pharmacy located district is <strong>required</strong></mat-error>-->
            <!--                      } &ndash;&gt;-->
            <!--                  </mat-form-field>-->
            <!--                </div>-->
            <!--                <div class="col-sm-4">-->
            <!--                  <mat-form-field class="full-width">-->
            <!--                    <mat-label>Searching Town</mat-label>-->
            <!--                    <mat-select name="town" formControlName="town">-->
            <!--                      <mat-option *ngFor="let town of towns" [value]="town.town_id">{{town.town_name}}</mat-option>-->
            <!--                      &lt;!&ndash; <mat-option value="galle">Galle</mat-option> &ndash;&gt;-->
            <!--                    </mat-select>-->
            <!--                    &lt;!&ndash; @if (townFormControl.hasError('required')) {-->
            <!--                      <mat-error>Pharmacy located town is <strong>required</strong></mat-error>-->
            <!--                      } &ndash;&gt;-->
            <!--                  </mat-form-field>-->
            <!--                </div>-->
            <!--                <div class="d-flex mt-3">-->
            <!--                  <button-->
            <!--                    mat-raised-button-->
            <!--                    color="primary"-->
            <!--                    class="primary-color ml-auto btn-rnext"-->
            <!--                    matStepperNext-->
            <!--                  >-->
            <!--                    Next-->
            <!--                  </button>-->
            <!--                </div>-->
            <!--              </div>-->

            <!--            </section>-->
          </form>
        </mat-step>
        <mat-step [completed]="false">
          <ng-template matStepLabel>Done</ng-template>
          <div class="wrapperAlert mt-3">

            <div class="contentAlert">

              <div class="topHalf">

                <p>
                  <svg viewBox="0 0 512 512" width="100" title="check-circle">
                    <path
                      d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"/>
                  </svg>
                </p>
                <h1>Notice Published</h1>

                <ul class="bg-bubbles">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <div class="bottomHalf">
                <p>You have publish your pharmacy notice for Pharmacies located in
                  {{selectedArea.province}} Province
                  {{selectedArea.district}} District
                  {{selectedArea.town}} Town</p>
              </div>
            </div>
          </div>
          <div class="d-flex mt-3">
            <button
              type="button"
              mat-raised-button
              color="primary"
              class="primary-color ml-auto btn-rnext"
              (click)="resetForm()"
            >
              Done
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
