.example-spacer {
    flex: 1 1 auto;
  }
  .app-title{
    font-family: "Roboto", sans-serif;
    font-size: x-large;
  }

  .top-nav{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }