<mat-toolbar class="top-nav fixed-top">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="openDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title"><h3><strong>Buddy</strong></h3></span>
    <span class="example-spacer"></span>
    <!-- <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon> -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
