<div class="content-grid content-grid-scroll">
  <div class="section-vc-one mb-3">
    <div class="content">
      <div class="profile-pic d-flex justify-content-center mb-3">
        <label class="-label" for="file">
          <!-- <span class="glyphicon glyphicon-camera"></span> -->
          <!-- <span>Change Image</span> -->
        </label>
        <!-- <input id="file" type="file" onchange="loadFile(event)" /> -->
        <img
          src="https://cdn.pixabay.com/photo/2017/08/06/21/01/louvre-2596278_960_720.jpg"
          id="output"
          width="200"
        />
      </div>
      <div class="d-flex justify-content-center">
        <h4>Loyde Pharmacy</h4>
      </div>
      <div class="d-flex justify-content-center level">
        <mat-icon
          aria-hidden="false"
          aria-label="Example verified_user icon"
          fontIcon="verified_user"
        ></mat-icon>
        <p class="">Verified Pharmacy</p>
      </div>
      <div class="d-flex justify-content-center pb-3">
        <div class="rating">
          <!-- Five stars -->
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9734;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="section-cvc-two">
    <mat-accordion class="cvc-headers-align">
      <mat-expansion-panel
        [expanded]="step === 0"
        (opened)="setStep(0)"
        hideToggle
      >
        <mat-expansion-panel-header class="mb-3">
          <mat-panel-title>
            <strong>Pharmacy Information </strong>
          </mat-panel-title>
          <mat-panel-description>
            Provide required Infromation
            <mat-icon class="success">check_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="d-flex flex-fill mb-3">
          <div class="input-group">
            <label for="upphebowb" class="mb-2 text-grey">
              Copy of Pharmacy Electricity Bill or Water Bill</label
            >
            <input type="file" id="upphebowb" />
          </div>
        </div>
        <div class="d-flex flex-fill mb-3">
          <div class="input-group">
            <label for="upbr" class="mb-2 text-grey"
              >Copy of Pharmacy Business Registration</label
            >
            <input type="file" id="upbr" />
          </div>
        </div>
        <div class="d-flex flex-fill mb-3">
          <div class="input-group">
            <label for="upphphoto" class="mb-2 text-grey"
              >Upload photo of Pharmacy</label
            >
            <input type="file" id="upphphoto" />
          </div>
        </div>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 1"
        (opened)="setStep(1)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Owner's Information </strong>
          </mat-panel-title>
          <mat-panel-description>
            Provide required Owner's Information
            <mat-icon class="success">check_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <mat-form-field class="d-flex flex-fill">
            <mat-label>Owner's name</mat-label>
            <input matInput placeholder="Enter owner's name" />
          </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field
                  class="d-flex flex-fill"
                >
                  <mat-label>Owner's NIC</mat-label>
                  <input
                    matInput
                    #nicinput
                    maxlength="10"
                    placeholder="Enter owner's NIC"
                    required
                   
                  />
                  <!-- [(ngModel)]="ownernicvalue" -->
                  <!-- formControlName="ownernicctrl" -->
                  <!-- [formControl]="ownernicFormControl" -->
                  <!-- <mat-hint align="end"
                  >{{ nicinput.value.length }}/10</mat-hint
                >
                  @if (ownernicvalue) {
                    <button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      (click)="ownernicvalue = ''"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                    }
                    @if (ownernicFormControl.hasError('required')) {
                      <mat-error>Owner's NIC <strong>required</strong></mat-error>
                      } -->
                </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="d-flex flex-fill">
                <mat-label>Owner's contact no</mat-label>
                <input
                  type="tel"
                  matInput
                  placeholder="Owner's contact no"
                  #contactnoinput
                  maxlength="10"
                  required
                
                />
                <!-- [(ngModel)]="ownercontactnovalue" -->
                <!-- formControlName="ownercontactnoctrl" -->
                <!-- [formControl]="ownercontactnoFormControl" -->
                <!-- <mat-hint align="end"
                  >{{ contactnoinput.value.length }}/10</mat-hint
                >
                @if (ownercontactnovalue) {
                  <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="ownercontactnovalue = ''"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                  }
                  @if (ownercontactnoFormControl.hasError('required')) {
                    <mat-error>Owner's contact number is <strong>required</strong></mat-error>
                    } -->
              </mat-form-field>
        </div>

        <div class="row">
            <div class="input-group d-flex flex-fill mb-3">
                <label for="upnic" class="mb-2 text-grey" style="color: rgba(0, 0, 0, 0.6);">Copy of owner's NIC</label>
                <input id="upnic" type="file" placeholder="Copy of Owner's NIC">
                </div>
        </div>
        <div class="row">
            <div class="input-group d-flex flex-fill mb-3">
                <label for="upohebowb" class="mb-2 text-grey">Copy of Owner's Home Electricity Bill or Water Bill</label>
                <input type="file" id="upohebowb">
                </div>
        </div>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="force-overflow"></div>
</div>
