<div class="content-grid content-grid-scroll">
  <app-profile-header [user]="user"></app-profile-header>
<!--  <div class="section-vc-one mb-3">-->
<!--    <div class="content">-->
<!--      <div class="profile-pic d-flex justify-content-center mb-3">-->
<!--        <label class="-label" for="file">-->
<!--          &lt;!&ndash; <span class="glyphicon glyphicon-camera"></span> &ndash;&gt;-->
<!--          &lt;!&ndash; <span>Change Image</span> &ndash;&gt;-->
<!--        </label>-->
<!--        &lt;!&ndash; <input id="file" type="file" onchange="loadFile(event)" /> &ndash;&gt;-->
<!--        <img-->
<!--          src="https://cdn.pixabay.com/photo/2017/08/06/21/01/louvre-2596278_960_720.jpg"-->
<!--          id="output"-->
<!--          width="200"-->
<!--        />-->
<!--      </div>-->
<!--      <div class="d-flex justify-content-center">-->
<!--        <h4>{{user?.fullName}}</h4>-->
<!--      </div>-->
<!--      <div class="d-flex justify-content-center level" *ngIf="user?.userVerify">-->
<!--        <mat-icon-->
<!--          aria-hidden="false"-->
<!--          aria-label="Example verified_user icon"-->
<!--          fontIcon="verified_user"-->
<!--        ></mat-icon>-->
<!--        <p class="">Verified Pharmacy</p>-->
<!--      </div>-->
<!--      <div class="d-flex justify-content-center pb-3">-->
<!--        <div class="rating">-->
<!--          &lt;!&ndash; Five stars &ndash;&gt;-->
<!--          <span class="star">&#9733;</span>-->
<!--          <span class="star">&#9733;</span>-->
<!--          <span class="star">&#9733;</span>-->
<!--          <span class="star">&#9733;</span>-->
<!--          <span class="star">&#9734;</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="section-cvc-two">
    <mat-accordion class="cvc-headers-align">
      <form [formGroup]="firstFormGroup" (ngSubmit)="nextStep($event,0)" #firstFormDirective="ngForm">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header class="mb-3">
            <mat-panel-title>
              <strong>Pharmacy Information </strong>
            </mat-panel-title>
            <mat-panel-description>
              Provide required Infromation
              <mat-icon class="success">check_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="d-flex flex-fill mb-3">
            <div class="input-group">
              <label class="mb-2 text-grey">
                Copy of Pharmacy Electricity Bill or Water Bill</label
              >
              <div class="col-12">
                <app-buddy-file-upload formGroupName="billFormGroup"
                                       [filesToUpload]="selectedFilesBills"
                                       [topicTxt]="''"
                                       [errMessage]="'Bills are required'"></app-buddy-file-upload>
              </div>
            </div>
          </div>
          <div class="d-flex flex-fill mb-3">
            <div class="input-group">
              <label class="mb-2 text-grey"
              >Copy of Pharmacy Business Registration</label
              >
              <div class="col-12">
                <app-buddy-file-upload formGroupName="brFormGroup"
                                       [filesToUpload]="selectedFilesBR"
                                       [topicTxt]="''"
                                       [indexFU]="1"
                                       [errMessage]="'Business Registration is required'"></app-buddy-file-upload>
              </div>
            </div>
          </div>
          <div class="d-flex flex-fill mb-3">
            <div class="input-group">
              <label class="mb-2 text-grey"
              >Upload photo of Pharmacy</label
              >
              <div class="col-12">
                <app-buddy-file-upload formGroupName="pharmacyPhotoFormGroup"
                                       [filesToUpload]="selectedFilesPharmacyPhotos"
                                       [topicTxt]="''"
                                       [indexFU]="2"
                                       [errMessage]="'Pharmacy photos are required'"></app-buddy-file-upload>
              </div>
            </div>
          </div>
          <mat-action-row>
            <button mat-button color="primary" type="submit">Upload</button>
          </mat-action-row>
        </mat-expansion-panel>
      </form>

      <form [formGroup]="secondFormGroup" (ngSubmit)="nextStep($event,1)" #secondFormDirective="ngForm">
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Owner's Information </strong>
            </mat-panel-title>
            <mat-panel-description>
              Provide required Owner's Information
              <mat-icon class="success">check_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="row">
            <div class="input-group d-flex flex-fill mb-3">
              <label class="mb-2 text-grey" style="color: rgba(0, 0, 0, 0.6);">Copy of owner's NIC</label>
              <div class="col-12">
                <app-buddy-file-upload formGroupName="nicFormGroup"
                                       [filesToUpload]="selectedFilesNIC"
                                       [topicTxt]="''"
                                       [indexFU]="3"
                                       [errMessage]="'NIC is required'"></app-buddy-file-upload>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-group d-flex flex-fill mb-3">
              <label class="mb-2 text-grey">Copy of Owner's Home Electricity Bill or Water Bill</label>
              <div class="col-12">
                <app-buddy-file-upload formGroupName="locationFormGroup"
                                       [filesToUpload]="selectedFilesLocation"
                                       [topicTxt]="''"
                                       [indexFU]="4"
                                       [errMessage]="'Location is required'"></app-buddy-file-upload>
              </div>
            </div>
          </div>

          <mat-action-row>
            <!--            <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>-->
            <button mat-button color="primary" type="submit">Upload</button>
          </mat-action-row>
        </mat-expansion-panel>
      </form>
    </mat-accordion>
  </div>
  <div class="force-overflow"></div>
</div>
