<div class="box-header">
  <h3>
    <a href="javascript:void(0);" (click)="viewCustomer()"
       class="subject"
    ><img
      src="https://static.wixstatic.com/media/abe5aa_3ff2132c9a13404494017dab519b1bb1~mv2.jpg/v1/fill/w_640,h_426,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/abe5aa_3ff2132c9a13404494017dab519b1bb1~mv2.jpg"
      alt=""
    />
      {{appUser?.fullName}}
    </a
    >
    <span>March 21,18:45pm <i class="fa fa-globe"></i></span>
    <div class="rating">
      <!-- Five stars -->
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9734;</span>
    </div>
  </h3>
  <span
  >
              <!-- <mat-icon
                aria-hidden="false"
                aria-label="response_settings"
                fontIcon="more_vert"
                [matMenuTriggerFor]="response_settings_menu"
              >
              </mat-icon> -->
          </span>
  <div class="window"><span></span></div>
  <!-- <mat-menu #response_settings_menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu> -->
</div>
