.notifications {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;

}

.notifications>li {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.notifications>li:last-child {
  margin-bottom: 0;
}

.notifications>li>div>div>a {
  display: block;
  padding: 20px;
  color: #bfbfbf;
  text-decoration: none;
}

.notifications>li:hover {
  background: #f9f9f9 !important;
}

.notifications>li>div>div>a .img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
}

.notifications>li>div>div>a .img img {
  width: 40px;
  border-radius: 50%;
}

.notifications>li>div>div>a .text {
  margin-top: 0px;
}

.notifications>li>div>div>a .text strong {
  font-weight: 700;
  color: #000;
}

.notifications>li.unread a {
  background: white;
}

.notifications>li.unread .time {
    color: orange;
  }

.notifications .notreadot{
    margin-top: 55px;
    color: orange;
    font-size: 20px;
}