<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-12 mt-3">
      <h3><strong>Buddy</strong></h3>
      <p class="mb-4">Crafting Connections, Delivering Excellence</p>

      <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
        <mat-step [stepControl]="firstFormGroup" [completed]="false">
          <form [formGroup]="firstFormGroup">
            <!--            <ng-template matStepLabel></ng-template>-->
            <div class="row mt-3">
              <div class="col-sm-6">
                <mat-form-field class="full-width">
                  <mat-label>User email</mat-label>
                  <input
                    matInput
                    formControlName="email"
                  />
                  <mat-error>{{errFields.emailTxt}}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="full-width">
                  <mat-label>Pharmacy name</mat-label>
                  <input
                    matInput
                    formControlName="name"
                  />
                  <mat-error>Pharmacy name is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-4">
                <mat-form-field class="full-width">
                  <mat-label>Owner's name</mat-label>
                  <input matInput
                         formControlName="ownerName"/>
                  <mat-error>Owner's name is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field
                  class="full-width"
                >
                  <mat-label>Owner's NIC</mat-label>
                  <input
                    matInput
                    formControlName="ownerNic"
                  />
                  <mat-hint align="end"
                  >{{ firstFormGroup.get('ownerNic').value.length }}/10
                  </mat-hint
                  >
                  <mat-error>Owner's nic is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="full-width">
                  <mat-label>Owner's contact no 1</mat-label>
                  <input
                    type="tel"
                    matInput
                    formControlName="contact_number_1"
                  />
                  <mat-hint align="end"
                  >{{ firstFormGroup.get('contact_number_1').value.length }}/10
                  </mat-hint
                  >
                  <mat-error>{{errFields.contactTxts[0]}}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <mat-form-field class="full-width">
                  <mat-label>Owner's contact no 2</mat-label>
                  <input
                    type="tel"
                    matInput
                    formControlName="contact_number_2"
                  />
                  <mat-hint>(Optional)</mat-hint>
                  <mat-hint align="end"
                  >{{ firstFormGroup.get('contact_number_2').value.length }}/10
                  </mat-hint
                  >
                  <mat-error>{{errFields.contactTxts[1]}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-6">
                <mat-form-field class="full-width">
                  <mat-label>Enter your password</mat-label>
                  <input
                    matInput
                    [type]="hidepw ? 'password' : 'text'"
                    formControlName="password"
                  />
                  <button
                    type="button"
                    mat-icon-button
                    matSuffix
                    (click)="hidepw = !hidepw"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidepw"
                  >
                    <mat-icon>{{
                      hidepw ? "visibility_off" : "visibility"
                      }}</mat-icon>
                  </button>
                  <mat-error>Password is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="full-width">
                  <mat-label>Re-confirm your password</mat-label>
                  <input
                    matInput
                    [type]="hidecpw ? 'password' : 'text'"
                    formControlName="passwordC"
                  />
                  <button
                    type="button"
                    mat-icon-button
                    matSuffix
                    (click)="hidecpw = !hidecpw"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidecpw"
                  >
                    <mat-icon>{{
                      hidecpw ? "visibility_off" : "visibility"
                      }}</mat-icon>
                  </button>
                  <mat-error>{{errFields.pdmTxt}}</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div style="display: flex;justify-content: flex-end;margin-top: 20px">
              <div>
                <button
                  type="button"
                  mat-raised-button
                  color="primary"
                  class="primary-color ml-auto btn-rnext"
                  (click)="navigateToDestination('/')"
                >
                  Back
                </button>
              </div>
              <div style="margin-left: 20px">
                <button
                  type="submit"
                  mat-raised-button
                  color="primary"
                  class="primary-color ml-auto btn-rnext"
                  matStepperNext
                >
                  Next
                </button>
              </div>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup" [completed]="false">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel></ng-template>
            <div class="row mt-3">
              <div class="col-sm-6">
                <mat-form-field class="full-width">
                  <mat-label>Pharmacy Address</mat-label>
                  <input
                    matInput
                    formControlName="address"
                  />
                  <mat-error>Pharmacy address is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="full-width">
                  <mat-label>Owner's Address</mat-label>
                  <input
                    matInput
                    formControlName="ownerAddress"
                  />
                  <mat-error>Owner's address is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-4">
                <div class="input-group">
                  <label for="upnic" class="mb-2 text-grey" style="color: rgba(0, 0, 0, 0.6);">Copy of owner's
                    NIC</label>
                  <input id="upnic" type="file" placeholder="Copy of Owner's NIC">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="input-group">
                  <label for="upohebowb" class="mb-2 text-grey">Copy of Owner's Home Electricity Bill or Water
                    Bill</label>
                  <input type="file" id="upohebowb">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="input-group">
                  <label for="upphebowb" class="mb-2 text-grey"> Copy of Pharmacy Electricity Bill or Water Bill</label>
                  <input type="file" id="upphebowb">
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <div class="input-group">
                  <label for="upbr" class="mb-2 text-grey">Copy of Pharmacy Business Registration</label>
                  <input type="file" id="upbr">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="input-group">
                  <label for="upphphoto" class="mb-2 text-grey">Upload photo of Pharmacy</label>
                  <input type="file" id="upphphoto">
                </div>
              </div>
              <div class="col-sm-4">

              </div>
            </div>
            <div style="display: flex;justify-content: flex-end;margin-top: 20px">
              <div>
                <button
                  type="button"
                  mat-raised-button
                  color="primary"
                  class="primary-color ml-auto btn-rnext"
                  matStepperPrevious
                >
                  Back
                </button>
              </div>
              <div style="margin-left: 20px">
                <button
                  type="submit"
                  mat-raised-button
                  color="primary"
                  class="primary-color ml-auto btn-rnext"
                  matStepperNext
                >
                  Next
                </button>
              </div>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup" [completed]="false">
          <div class="row mt-3">
            <div class="col-md-12">
              <h4>Pharmacy Location</h4>
            </div>
          </div>
          <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmit($event)">
            <div class="row mt-3">
              <div class="col-sm-4">
                <mat-form-field class="full-width">
                  <mat-label>Province</mat-label>
                  <mat-select name="province" formControlName="province"
                              (ngModelChange)="getDistricts($event)">

                    <mat-option *ngFor="let province of provinces" [value]="province"
                    >{{province.name}}</mat-option>
                  </mat-select>
                  <mat-error>Province is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field class="full-width">
                  <mat-label>District</mat-label>
                  <mat-select name="district" formControlName="district"
                              (ngModelChange)="getTowns($event)">
                    <mat-option *ngFor="let district of districts" [value]="district"
                    >{{district.name}}</mat-option>
                    <!-- <mat-option value="galle">Galle</mat-option> -->
                  </mat-select>
                  <mat-error>District is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field class="full-width">
                  <mat-label>Town</mat-label>
                  <mat-select name="town" formControlName="town">
                    <mat-option *ngFor="let town of towns" [value]="town.id">{{town.name}}</mat-option>
                    <!-- <mat-option value="galle">Galle</mat-option> -->
                  </mat-select>
                  <mat-error>Town is required</mat-error>
                </mat-form-field>
              </div>
              <div style="display: flex;justify-content: flex-end;margin-top: 20px">
                <div>
                  <button
                    type="button"
                    mat-raised-button
                    color="primary"
                    class="primary-color ml-auto btn-rnext"
                    matStepperPrevious
                  >
                    Back
                  </button>
                </div>
                <div style="margin-left: 20px">
                  <button
                    mat-raised-button
                    color="primary"
                    class="primary-color ml-auto btn-rnext"
                    type="submit"
                  >
                    Finish
                  </button>
                </div>
              </div>
            </div>
          </form>
        </mat-step>

        <mat-step [completed]="false">
          <ng-template matStepLabel></ng-template>
          <div class="wrapperAlert">

            <div class="contentAlert">

              <div class="topHalf">

                <p>
                  <svg viewBox="0 0 512 512" width="100" title="check-circle">
                    <path
                      d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"/>
                  </svg>
                </p>
                <h1>Congratulations</h1>

                <ul class="bg-bubbles">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <div class="bottomHalf">
                <p>Well Done!, Your account is now active! Please allow a few hours for all features to be fully
                  accessible. Thank you for your patience.</p>

              </div>
            </div>

          </div>
          <div class="d-flex mt-3">
            <button
              type="button"
              mat-raised-button
              color="primary"
              class="primary-color ml-auto btn-rnext"
              (click)="resetForm()"
            >
              Done
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
