<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-12 mt-3">
      <h3><strong>Buddy</strong></h3>
      <p class="mb-4">Crafting Connections, Delivering Excellence</p>
      <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <!--            <ng-template matStepLabel>Fill out your name</ng-template>-->
            <div class="row mt-3">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Full Name</mat-label>
                  <input
                    matInput
                    placeholder="Enter your full name"
                    formControlName="full_name"
                  />
                  <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="firstFormGroup.get('full_name').reset()"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error>Full Name is required</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>User email</mat-label>
                  <input
                    matInput
                    type="email"
                    placeholder="Enter your user email"
                    formControlName="email"
                  />
                  <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="firstFormGroup.get('email').reset()"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error>{{errFields.emailTxt}}</mat-error>
                </mat-form-field>
              </div>

              <div class="row mt-3">
                <div class="col-md-3">
                  <mat-form-field class="w-100">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option value="Male">Male</mat-option>
                      <mat-option value="Female">Female</mat-option>
                    </mat-select>
                    <mat-error>Gender is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="w-100">
                    <mat-label>Birthday</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      formControlName="dob"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>Date of birth is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="w-100">
                    <mat-label>NIC number</mat-label>
                    <input
                      matInput
                      maxlength="10"
                      placeholder="Enter your NIC number"
                      formControlName="nic"
                    />
                    <mat-hint align="end"
                    >{{firstFormGroup.get('nic').value.length }}/10
                    </mat-hint
                    >
                    <button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      (click)="firstFormGroup.get('nic').reset()"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-error>{{errFields.nicTxt}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="w-100">
                    <mat-label>Contact number 1</mat-label>
                    <input
                      matInput
                      placeholder="Enter your contact number"
                      formControlName="contact_number_1"
                    />
                    <mat-hint align="end"
                    >{{ firstFormGroup.get('contact_number_1').value.length }}/10
                    </mat-hint
                    >
                    <button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      (click)="firstFormGroup.get('contact_number_1').reset()"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-error>{{errFields.contactTxts[0]}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                  <mat-form-field class="w-100">
                    <mat-label>Contact number 2</mat-label>
                    <input
                      matInput
                      placeholder="Enter your contact number"
                      formControlName="contact_number_2"
                    />
                    <mat-hint>(Optional)</mat-hint>
                    <mat-hint align="end"
                    >{{ firstFormGroup.get('contact_number_2').value.length }}/10
                    </mat-hint
                    >
                    <button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      (click)="firstFormGroup.get('contact_number_2').reset()"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-error>{{errFields.contactTxts[1]}}</mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>

            <div class="row mt-3">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Enter your password</mat-label>
                  <input
                    matInput
                    [type]="hidepw ? 'password' : 'text'"
                    formControlName="password"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hidepw = !hidepw"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidepw"
                  >
                    <mat-icon>{{
                      hidepw ? "visibility_off" : "visibility"
                      }}</mat-icon>
                  </button>
                  <mat-error>Password is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Confirm your password</mat-label>
                  <input
                    matInput
                    [type]="hidecpw ? 'password' : 'text'"
                    formControlName="passwordC"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hidecpw = !hidecpw"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidecpw"
                  >
                    <mat-icon>{{
                      hidecpw ? "visibility_off" : "visibility"
                      }}</mat-icon>
                  </button>
                  <mat-error>{{errFields.pdmTxt}}</mat-error>
                  <!--                  <span *ngIf="pdm">Password does not match</span>-->
                </mat-form-field>
              </div>
            </div>

            <div style="display: flex;justify-content: flex-end;margin-top: 20px">
              <div>
                <button
                  mat-raised-button
                  color="primary"
                  class="primary-color ml-auto btn-rnext"
                  (click)="navigateToDestination('/')"
                >
                  Back
                </button>
              </div>
              <div style="margin-left: 20px">
                <button
                  mat-raised-button
                  color="primary"
                  class="primary-color ml-auto btn-rnext"
                  matStepperNext
                >
                  Next
                </button>
              </div>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmit($event)">

            <div class="row mt-3">
              <div class="col-md-12">
                <mat-form-field class="full-width">
                  <mat-label>Address</mat-label>
                  <input
                    matInput
                    placeholder="Enter your address"
                    required
                    formControlName="address"
                  />
                  <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="secondFormGroup.get('address').reset()"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error>Address is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <mat-form-field class="full-width">
                  <mat-label>Province</mat-label>
                  <mat-select name="province" formControlName="province"
                              (ngModelChange)="getDistricts($event)">

                    <mat-option *ngFor="let province of provinces" [value]="province"
                                >{{province.name}}</mat-option>
                  </mat-select>
                  <mat-error>Province is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field class="full-width">
                  <mat-label>District</mat-label>
                  <mat-select name="district" formControlName="district"
                              (ngModelChange)="getTowns($event)">
                    <mat-option *ngFor="let district of districts" [value]="district"
                                >{{district.name}}</mat-option>
                    <!-- <mat-option value="galle">Galle</mat-option> -->
                  </mat-select>
                  <mat-error>District is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field class="full-width">
                  <mat-label>Town</mat-label>
                  <mat-select name="town" formControlName="town">
                    <mat-option *ngFor="let town of towns" [value]="town.id">{{town.name}}</mat-option>
                    <!-- <mat-option value="galle">Galle</mat-option> -->
                  </mat-select>
                  <mat-error>Town is required</mat-error>
                </mat-form-field>
              </div>

              <div style="display: flex;justify-content: flex-end;margin-top: 20px">
                  <div>
                    <button
                      mat-raised-button
                      color="primary"
                      class="primary-color ml-auto btn-rnext"
                      matStepperPrevious
                    >
                      Back
                    </button>
                  </div>
                  <div style="margin-left: 20px">
                    <button
                      mat-raised-button
                      color="primary"
                      class="primary-color ml-auto btn-rnext"
                      type="submit"
                    >
                      Finish
                    </button>
                  </div>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step>
<!--          <ng-template matStepLabel>Done</ng-template>-->
          <div class="wrapperAlert">

            <div class="contentAlert">

              <div class="topHalf">

                <p>
                  <svg viewBox="0 0 512 512" width="100" title="check-circle">
                    <path
                      d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"/>
                  </svg>
                </p>
                <h1>Congratulations</h1>

                <ul class="bg-bubbles">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <div class="bottomHalf">
                <p>Well Done!, Your account is now active!</p>

              </div>
            </div>

          </div>
          <div class="d-flex mt-3">
            <button
              mat-raised-button
              color="primary"
              class="primary-color ml-auto btn-rnext"
              (click)="resetForm()"
            >
              Done
            </button>
          </div>
        </mat-step>
        <!--        <mat-step>-->
        <!--          <ng-template matStepLabel>Done</ng-template>-->
        <!--          You are now done.-->
        <!--          <div>-->
        <!--            <button mat-button matStepperPrevious>Back</button>-->
        <!--            <button mat-button (click)="stepper.reset()">Reset</button>-->
        <!--          </div>-->
        <!--        </mat-step>-->
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
