<div class="section-vc-two">
  <mat-accordion class="vc-headers-align">
    <form [formGroup]="firstFormGroup" (ngSubmit)="nextStep($event)">
      <mat-expansion-panel [disabled]="step!==0" [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Old Password </strong>
          </mat-panel-title>
          <mat-panel-description>
            {{passwordFields.oldPassword}}
            <mat-icon>lock_clock</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>


        <div class="d-flex">
          <mat-form-field class=" flex-fill p-3">
            <mat-label>Enter your old password</mat-label>
            <input matInput [type]="hideoldpassword ? 'password' : 'text'"
                   formControlName="oldPassword">
            <button mat-icon-button matSuffix (click)="hideoldpassword = !hideoldpassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideoldpassword">
              <mat-icon>{{hideoldpassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>Old Password is required</mat-error>
          </mat-form-field>
        </div>

        <mat-action-row>
          <button mat-button color="primary" type="submit">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </form>

    <form [formGroup]="secondFormGroup" (ngSubmit)="nextStep($event)">
      <mat-expansion-panel [disabled]="step!==1" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>New Password </strong>
          </mat-panel-title>
          <mat-panel-description>
            {{passwordFields.password}}
            <mat-icon>lock_reset</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex">
          <mat-form-field class=" flex-fill p-3">
            <mat-label>Enter your new password</mat-label>
            <input matInput [type]="hidenewpassword ? 'password' : 'text'"
                   formControlName="password">
            <button mat-icon-button matSuffix (click)="hidenewpassword = !hidenewpassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidenewpassword">
              <mat-icon>{{hidenewpassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>New Password is required</mat-error>
          </mat-form-field>
        </div>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()" type="button">Previous</button>
          <button mat-button color="primary" (click)="nextStep($event)" type="button">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </form>

    <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmit($event)">
      <mat-expansion-panel [disabled]="step!==2" [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Confirm Password</strong>
          </mat-panel-title>
          <mat-panel-description>
            {{passwordFields.passwordC}}
            <mat-icon>sync_lock</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="d-flex">
          <mat-form-field class=" flex-fill p-3">
            <mat-label>Confirm your new password</mat-label>
            <input matInput [type]="hidereenterpassword ? 'password' : 'text'"
                   formControlName="passwordC">
            <button mat-icon-button matSuffix (click)="hidereenterpassword = !hidereenterpassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidereenterpassword">
              <mat-icon>{{hidereenterpassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>{{errFields.pdmTxt}}</mat-error>
          </mat-form-field>
        </div>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()" type="button">Previous</button>
          <button mat-button color="primary" type="submit">Finish</button>
        </mat-action-row>
      </mat-expansion-panel>
    </form>

  </mat-accordion>
</div>
